html,
body {
  height: 100%;
}

body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  background-color: #121213;
}

h2 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 1rem;
}

 button {
  background-color: #818384;
  padding: 0 45px;
  border: 2px solid #818384;
  border-radius: 5px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  color: #fff;
  font-family: inherit;
  transition: .4s;
 }

 button:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #121213;
 }